html {
    background-image: url(images/background-dnd-5.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

.images {
    width: 100%;
}

header {
    padding: 0px 50px 0px 50px;
}

footer {
    font-size: 12px;
    padding: 20px;
}

p {
    padding-left: 3em;
    padding-right: 3em;
}

main {
    background-color: gray;
}

article {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h3 {
    text-align: center;
}

#harpers-logo {
    width: 10%;
    padding: 20px;
}

#eren {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 1.5em;
    padding-left: 1.5em;
}